p.merah {
    color: red;
}
p#kuning{
    color: yellow;
}
p.hijau{
    color: green;
}
h1.a + p{
    font-style: italic;
}
h1.b ~ p{
    text-decoration: underline;
}
:link{
    color: black;
}
:visited{
    color: black;
}
.hover :hover{
    color:blue;
}
